<tr>
    <td>@Wine.Name</td>
    @*<td>@Wine.Vineyard</td>
    <td>@Wine.Location</td>*@
    <td>@Wine.Year</td>
    <td>@Wine.Notes</td>
    <td>
        <a href="/wineedit/@Wine.Id" class="btn btn-primary table-btn">
            <i class="oi oi-basket"></i>       
        </a>
    </td>
</tr>